


header{
        background-color: rgb(64, 140, 202);
        text-align: center;
        padding: 5px; 
        border-radius: 20px;
        margin-bottom: -1%;
}

.carousel-item{

        padding: 0px 1px;
        

}



footer{
    background-color: rgb(64, 140, 202);
    text-align: center;
    padding: 1px;
    border-radius: 20px;
    margin: -1%;
    font-family: Arial, Helvetica, sans-serif;
}

.redsoc a {
        
        font-size: 1.2vw;
        text-align: center;
}

.redsoc:hover {
        border-radius: 10px;
        padding-block: 10px;
        box-shadow: black;
             
}

input[type=submit]{
background-color: rgb(35, 168, 35);
padding: 5px 10px;
border-radius: 5px;
}

input[type=submit]:hover{
        background-color:chartreuse
}

.imagen {
        margin: 20px;
        
}

form{
        background-color: rgb(235, 216, 110);
        margin-right: 680px;
        padding: 0px
}
input[type=text]{
        border-radius: 5px;
        margin-left: 3px;
        
        
}

.fab{
        margin-top: 15px;
        font-size: 20px;
        color: rgb(6, 6, 19);

}
.bg-warning{
        background-origin: darkkhaki;
        margin-right: 30px;
        border-radius: 7px;
       
}

p{

       margin-left: 3px;
}



.producto{
        
        width: 180px;
        height: 200px;
        

}

iframe {

        padding: 10px;
        margin-left: 100px;
}

.aside {

        margin-right: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: lightgreen;
        border-radius: 10px;
}

menu{
        background-color: rgb(238, 247, 165);
        padding: 1px 50px;
}

.producto:hover{

        padding: 10px;
}

.card-img-top{

        padding: 10px;
}
img {
        
        width: 500px;
        height: 400px;
}

.carta{

        width: 70px;
        height: 90px;  
}
